#mainPopup {
  padding: 10px;
  height: 200px;
  width: 400px;
  font-family: "Roboto", Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}
.relative {
  position: relative;
}
  .relative label + span.material-icons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
